<h1>Plays#game</h1>
<p>Find me in app/views/plays/game.html.erb</p>

<%= @grid.join(" - ") %>

<form action="/score">
  <label for="question">What is your longest word?</label>
  <input type="text" id="word" name="word" placeholder="blablabla">
  <input type="submit" value="Go on!">
  <input type="hidden" name="start_time" value= "<%= @start_time %>">
    <input type="hidden" name="grid" value= "<%= @grid %>">
</form>
